* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
}
/* nav style */
header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;  
    background-color: rgb(31, 31, 31);
    padding: 10px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 1px 1px 0 #000;
}
header h1 a {
    color: white;

}
header a {
    color: white;
    text-decoration: none;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none; 
}
/* nav style end */

.hero {
    background-image: url("./images/carbon-fiber.jpg"); 
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 50px;
}
.subtitle {
    color: white;
    margin: 15vh 0 0;
    font-size: 5vh;
    background-color: rgb(31, 31, 31);
    padding: 2vh;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 1px 1px 0 #000;
}
.about-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-me h3 {
    font-size: 6vh;
    flex: 1 30%;
    text-align: end;
    padding-right: 1vh;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 1px 1px 0 #000;
}

.about-text {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border-left: 3px solid black;
    padding-left: 3vh;
    color: white;
}

.my-work {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.my-work h3 {
    font-size: 6vh;
    flex: 1 30%;
    text-align: end;
    padding-right: 1vh;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 1px 1px 0 #000;
}
.work {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-left: 3px solid black;
    padding-left: 3vh;
    color: white;

}
.work-big {
    height: 50vh;
    width: 91%;
    background-image: url(./images/surf.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border: 3px solid white;
    margin: 5px;
} 
.flex-row {
    display:flex;
    flex-wrap:wrap;
    width:100%
   
}
.work-small {
    height: 14vh;
    width: 45%;
    background-image: url(./images/Run-Buddy.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
    margin: 5px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}
.LED-wall {
    background-image: url(./images/led.jpeg);
}
.calculator {
    background-image: url(./images/calculator.jpg);
}
.pastel-puzzles {
    background-image: url(./images/puzzle.png);
}